USE [cobol]
GO
/****** Object:  Table [dbo].[accounts]    Script Date: 06/02/2025 10:03:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[accounts](
	[id] [int] NOT NULL,
	[active_status] [varchar](255) NULL,
	[addr_zip] [varchar](255) NULL,
	[cash_credit_limit] [numeric](38, 2) NULL,
	[credit_limit] [numeric](38, 2) NULL,
	[curr_bal] [numeric](38, 2) NULL,
	[curr_cyc_credit] [numeric](38, 2) NULL,
	[curr_cyc_debit] [numeric](38, 2) NULL,
	[expiration_date] [varchar](255) NULL,
	[group_id] [varchar](255) NULL,
	[open_date] [varchar](255) NULL,
	[reissue_date] [varchar](255) NULL,
	[acct_id] [bigint] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[card_xref]    Script Date: 06/02/2025 10:03:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[card_xref](
	[num] [varchar](255) NOT NULL,
	[acct_id] [bigint] NULL,
	[cust_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cards]    Script Date: 06/02/2025 10:03:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cards](
	[num] [varchar](255) NOT NULL,
	[acct_id] [bigint] NULL,
	[active_status] [varchar](255) NULL,
	[ccv_cd] [int] NOT NULL,
	[embossed_name] [varchar](255) NULL,
	[expiration_date] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 06/02/2025 10:03:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[id] [int] NOT NULL,
	[addr_country_cd] [varchar](255) NULL,
	[addr_line1] [varchar](255) NULL,
	[addr_line2] [varchar](255) NULL,
	[addr_line3] [varchar](255) NULL,
	[addr_state_cd] [varchar](255) NULL,
	[addr_zip] [varchar](255) NULL,
	[dob_yyyy_mm_dd] [varchar](255) NULL,
	[eft_account_id] [varchar](255) NULL,
	[fico_credit_score] [int] NOT NULL,
	[first_name] [varchar](255) NULL,
	[govt_issued_id] [varchar](255) NULL,
	[last_name] [varchar](255) NULL,
	[middle_name] [varchar](255) NULL,
	[phone_num1] [varchar](255) NULL,
	[phone_num2] [varchar](255) NULL,
	[pri_card_holder_ind] [varchar](255) NULL,
	[ssn] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[daily_tran]    Script Date: 06/02/2025 10:03:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[daily_tran](
	[id] [varchar](255) NOT NULL,
	[amt] [numeric](38, 2) NULL,
	[card_num] [varchar](255) NULL,
	[cat_cd] [int] NULL,
	[description] [varchar](255) NULL,
	[merchant_city] [varchar](255) NULL,
	[merchant_id] [int] NULL,
	[merchant_name] [varchar](255) NULL,
	[merchant_zip] [varchar](255) NULL,
	[orig_ts] [varchar](255) NULL,
	[proc_ts] [varchar](255) NULL,
	[source] [varchar](255) NULL,
	[type_cd] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dis_group]    Script Date: 06/02/2025 10:03:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dis_group](
	[dis_acct_group_id] [varchar](255) NOT NULL,
	[dis_tran_cat_cd] [int] NOT NULL,
	[dis_tran_type_cd] [varchar](255) NOT NULL,
	[dis_int_rate] [numeric](38, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[dis_acct_group_id] ASC,
	[dis_tran_cat_cd] ASC,
	[dis_tran_type_cd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tran_cat]    Script Date: 06/02/2025 10:03:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tran_cat](
	[cat_cd] [int] NOT NULL,
	[type_cd] [varchar](255) NOT NULL,
	[type_desc] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[cat_cd] ASC,
	[type_cd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tran_cat_bal]    Script Date: 06/02/2025 10:03:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tran_cat_bal](
	[acct_id] [int] NOT NULL,
	[cd] [smallint] NOT NULL,
	[type_cd] [varchar](255) NOT NULL,
	[bal] [numeric](38, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[acct_id] ASC,
	[cd] ASC,
	[type_cd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tran_type]    Script Date: 06/02/2025 10:03:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tran_type](
	[type] [varchar](255) NOT NULL,
	[type_desc] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 06/02/2025 10:03:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[first_name] [varchar](255) NULL,
	[is_block] [bit] NULL,
	[last_login] [datetime2](6) NULL,
	[last_name] [varchar](255) NULL,
	[password] [varchar](255) NULL,
	[role] [varchar](255) NULL,
	[updated_at] [datetime2](6) NULL,
	[user_id] [varchar](255) NULL,
	[username] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[accounts] ON 

SET IDENTITY_INSERT [dbo].[accounts] OFF
GO
INSERT [dbo].[card_xref] ([num], [acct_id], [cust_id]) VALUES (N'0500024453765740', 50, 50)
INSERT [dbo].[card_xref] ([num], [acct_id], [cust_id]) VALUES (N'0683586198171516', 27, 27)
INSERT [dbo].[card_xref] ([num], [acct_id], [cust_id]) VALUES (N'0923877193247330', 2, 2)
GO
INSERT [dbo].[cards] ([num], [acct_id], [active_status], [ccv_cd], [embossed_name], [expiration_date]) VALUES (N'0500024453765740', 50, N'Y', 747, N'Aniya Von                                         ', N'2023-03-09')
INSERT [dbo].[cards] ([num], [acct_id], [active_status], [ccv_cd], [embossed_name], [expiration_date]) VALUES (N'0683586198171516', 27, N'Y', 567, N'Ward Jones                                        ', N'2025-07-13')
INSERT [dbo].[cards] ([num], [acct_id], [active_status], [ccv_cd], [embossed_name], [expiration_date]) VALUES (N'0923877193247330', 2, N'Y', 28, N'Enrico Rosenbaum                                  ', N'2024-08-11')
GO
INSERT [dbo].[daily_tran] ([id], [amt], [card_num], [cat_cd], [description], [merchant_city], [merchant_id], [merchant_name], [merchant_zip], [orig_ts], [proc_ts], [source], [type_cd]) VALUES (N'0000000000683580', CAST(5047.00 AS Numeric(38, 2)), N'4859452612877065', 1, N'Purchase at Abshire-Lowe                                                                            ', N'North Enoshaven                                   ', 800000000, N'Abshire-Lowe                                      ', N'72112     ', N'2022-06-10 19:27:53.000000', N'                          ', N'POS TERM  ', N'01')
INSERT [dbo].[daily_tran] ([id], [amt], [card_num], [cat_cd], [description], [merchant_city], [merchant_id], [merchant_name], [merchant_zip], [orig_ts], [proc_ts], [source], [type_cd]) VALUES (N'0000000001774260', CAST(9190.00 AS Numeric(38, 2)), N'0927987108636232', 1, N'Return item at Nitzsche, Nicolas and Lowe                                                           ', N'Fidelshire                                        ', 800000000, N'Nitzsche, Nicolas and Lowe                        ', N'53378     ', N'2022-06-10 19:27:53.000000', N'                          ', N'OPERATOR  ', N'03')
INSERT [dbo].[daily_tran] ([id], [amt], [card_num], [cat_cd], [description], [merchant_city], [merchant_id], [merchant_name], [merchant_zip], [orig_ts], [proc_ts], [source], [type_cd]) VALUES (N'0000000006292564', CAST(678.00 AS Numeric(38, 2)), N'6009619150674526', 1, N'Purchase at Ernser, Roob and Gleason                                                                ', N'North Makenziemouth                               ', 800000000, N'Ernser, Roob and Gleason                          ', N'78487-7965', N'2022-06-10 19:27:53.000000', N'                          ', N'POS TERM  ', N'01')
GO
INSERT [dbo].[dis_group] ([dis_acct_group_id], [dis_tran_cat_cd], [dis_tran_type_cd], [dis_int_rate]) VALUES (N'A000000000', 1, N'01', CAST(150.00 AS Numeric(38, 2)))
INSERT [dbo].[dis_group] ([dis_acct_group_id], [dis_tran_cat_cd], [dis_tran_type_cd], [dis_int_rate]) VALUES (N'A000000000', 1, N'02', CAST(0.00 AS Numeric(38, 2)))
INSERT [dbo].[dis_group] ([dis_acct_group_id], [dis_tran_cat_cd], [dis_tran_type_cd], [dis_int_rate]) VALUES (N'A000000000', 1, N'03', CAST(0.00 AS Numeric(38, 2)))
GO
INSERT [dbo].[tran_cat] ([cat_cd], [type_cd], [type_desc]) VALUES (1, N'01', N'Regular Sales Draft                               ')
INSERT [dbo].[tran_cat] ([cat_cd], [type_cd], [type_desc]) VALUES (1, N'02', N'Cash payment                                      ')
INSERT [dbo].[tran_cat] ([cat_cd], [type_cd], [type_desc]) VALUES (1, N'03', N'Credit to Account                                 ')
GO
INSERT [dbo].[tran_cat_bal] ([acct_id], [cd], [type_cd], [bal]) VALUES (1, 1, N'01', CAST(0.00 AS Numeric(38, 2)))
INSERT [dbo].[tran_cat_bal] ([acct_id], [cd], [type_cd], [bal]) VALUES (2, 1, N'01', CAST(0.00 AS Numeric(38, 2)))
INSERT [dbo].[tran_cat_bal] ([acct_id], [cd], [type_cd], [bal]) VALUES (3, 1, N'01', CAST(0.00 AS Numeric(38, 2)))
GO
INSERT [dbo].[tran_type] ([type], [type_desc]) VALUES (N'01', N'Purchase                                          ')
INSERT [dbo].[tran_type] ([type], [type_desc]) VALUES (N'02', N'Payment                                           ')
INSERT [dbo].[tran_type] ([type], [type_desc]) VALUES (N'03', N'Credit                                            ')
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [created_at], [first_name], [is_block], [last_login], [last_name], [password], [role], [updated_at], [user_id], [username]) VALUES (1, CAST(N'2025-02-06T10:00:34.4966670' AS DateTime2), N'GOLD', 0, NULL, N'MARGARET', N'PASSWORD', N'A', CAST(N'2025-02-06T10:00:34.4966670' AS DateTime2), N'ADMIN001', N'ADMIN001')
INSERT [dbo].[users] ([id], [created_at], [first_name], [is_block], [last_login], [last_name], [password], [role], [updated_at], [user_id], [username]) VALUES (2, CAST(N'2025-02-06T10:00:34.4966670' AS DateTime2), N'RUSSELL', 0, NULL, N'RUSSELL', N'PASSWORD', N'A', CAST(N'2025-02-06T10:00:34.4966670' AS DateTime2), N'ADMIN002', N'ADMIN002')
INSERT [dbo].[users] ([id], [created_at], [first_name], [is_block], [last_login], [last_name], [password], [role], [updated_at], [user_id], [username]) VALUES (3, CAST(N'2025-02-06T10:00:34.4966670' AS DateTime2), N'WHITMORE', 0, NULL, N'RAYMOND', N'PASSWORD', N'A', CAST(N'2025-02-06T10:00:34.4966670' AS DateTime2), N'ADMIN003', N'ADMIN003')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
ALTER TABLE [dbo].[accounts] ADD  DEFAULT (NULL) FOR [active_status]
GO
ALTER TABLE [dbo].[accounts] ADD  DEFAULT (NULL) FOR [addr_zip]
GO
ALTER TABLE [dbo].[accounts] ADD  DEFAULT (NULL) FOR [expiration_date]
GO
ALTER TABLE [dbo].[accounts] ADD  DEFAULT (NULL) FOR [group_id]
GO
ALTER TABLE [dbo].[accounts] ADD  DEFAULT (NULL) FOR [open_date]
GO
ALTER TABLE [dbo].[accounts] ADD  DEFAULT (NULL) FOR [reissue_date]
GO
ALTER TABLE [dbo].[cards] ADD  DEFAULT (NULL) FOR [active_status]
GO
ALTER TABLE [dbo].[cards] ADD  DEFAULT (NULL) FOR [embossed_name]
GO
ALTER TABLE [dbo].[cards] ADD  DEFAULT (NULL) FOR [expiration_date]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT (NULL) FOR [addr_country_cd]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT (NULL) FOR [addr_line1]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT (NULL) FOR [addr_line2]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT (NULL) FOR [addr_line3]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT (NULL) FOR [addr_state_cd]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT (NULL) FOR [addr_zip]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT (NULL) FOR [dob_yyyy_mm_dd]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT (NULL) FOR [eft_account_id]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT (NULL) FOR [first_name]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT (NULL) FOR [govt_issued_id]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT (NULL) FOR [last_name]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT (NULL) FOR [middle_name]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT (NULL) FOR [phone_num1]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT (NULL) FOR [phone_num2]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT (NULL) FOR [pri_card_holder_ind]
GO
ALTER TABLE [dbo].[daily_tran] ADD  DEFAULT (NULL) FOR [card_num]
GO
ALTER TABLE [dbo].[daily_tran] ADD  DEFAULT (NULL) FOR [description]
GO
ALTER TABLE [dbo].[daily_tran] ADD  DEFAULT (NULL) FOR [merchant_city]
GO
ALTER TABLE [dbo].[daily_tran] ADD  DEFAULT (NULL) FOR [merchant_id]
GO
ALTER TABLE [dbo].[daily_tran] ADD  DEFAULT (NULL) FOR [merchant_name]
GO
ALTER TABLE [dbo].[daily_tran] ADD  DEFAULT (NULL) FOR [merchant_zip]
GO
ALTER TABLE [dbo].[daily_tran] ADD  DEFAULT (NULL) FOR [orig_ts]
GO
ALTER TABLE [dbo].[daily_tran] ADD  DEFAULT (NULL) FOR [proc_ts]
GO
ALTER TABLE [dbo].[daily_tran] ADD  DEFAULT (NULL) FOR [source]
GO
ALTER TABLE [dbo].[daily_tran] ADD  DEFAULT (NULL) FOR [type_cd]
GO
ALTER TABLE [dbo].[tran_cat] ADD  DEFAULT (NULL) FOR [type_desc]
GO
ALTER TABLE [dbo].[tran_type] ADD  DEFAULT (NULL) FOR [type_desc]
GO

-- Autogenerated: do not edit this file

CREATE TABLE BATCH_JOB_INSTANCE  (
	JOB_INSTANCE_ID BIGINT  NOT NULL PRIMARY KEY ,
	VERSION BIGINT NULL,
	JOB_NAME VARCHAR(100) NOT NULL,
	JOB_KEY VARCHAR(32) NOT NULL,
	constraint JOB_INST_UN unique (JOB_NAME, JOB_KEY)
) ;

CREATE TABLE BATCH_JOB_EXECUTION  (
	JOB_EXECUTION_ID BIGINT  NOT NULL PRIMARY KEY ,
	VERSION BIGINT NULL,
	JOB_INSTANCE_ID BIGINT NOT NULL,
	CREATE_TIME DATETIME NOT NULL,
	START_TIME DATETIME DEFAULT NULL ,
	END_TIME DATETIME DEFAULT NULL ,
	STATUS VARCHAR(10) NULL,
	EXIT_CODE VARCHAR(2500) NULL,
	EXIT_MESSAGE VARCHAR(2500) NULL,
	LAST_UPDATED DATETIME NULL,
	constraint JOB_INST_EXEC_FK foreign key (JOB_INSTANCE_ID)
	references BATCH_JOB_INSTANCE(JOB_INSTANCE_ID)
) ;

CREATE TABLE BATCH_JOB_EXECUTION_PARAMS  (
	JOB_EXECUTION_ID BIGINT NOT NULL ,
	PARAMETER_NAME VARCHAR(100) NOT NULL ,
	PARAMETER_TYPE VARCHAR(100) NOT NULL ,
	PARAMETER_VALUE VARCHAR(2500) ,
	IDENTIFYING CHAR(1) NOT NULL ,
	constraint JOB_EXEC_PARAMS_FK foreign key (JOB_EXECUTION_ID)
	references BATCH_JOB_EXECUTION(JOB_EXECUTION_ID)
) ;

CREATE TABLE BATCH_STEP_EXECUTION  (
	STEP_EXECUTION_ID BIGINT  NOT NULL PRIMARY KEY ,
	VERSION BIGINT NOT NULL,
	STEP_NAME VARCHAR(100) NOT NULL,
	JOB_EXECUTION_ID BIGINT NOT NULL,
	CREATE_TIME DATETIME NOT NULL,
	START_TIME DATETIME DEFAULT NULL ,
	END_TIME DATETIME DEFAULT NULL ,
	STATUS VARCHAR(10) NULL,
	COMMIT_COUNT BIGINT NULL,
	READ_COUNT BIGINT NULL,
	FILTER_COUNT BIGINT NULL,
	WRITE_COUNT BIGINT NULL,
	READ_SKIP_COUNT BIGINT NULL,
	WRITE_SKIP_COUNT BIGINT NULL,
	PROCESS_SKIP_COUNT BIGINT NULL,
	ROLLBACK_COUNT BIGINT NULL,
	EXIT_CODE VARCHAR(2500) NULL,
	EXIT_MESSAGE VARCHAR(2500) NULL,
	LAST_UPDATED DATETIME NULL,
	constraint JOB_EXEC_STEP_FK foreign key (JOB_EXECUTION_ID)
	references BATCH_JOB_EXECUTION(JOB_EXECUTION_ID)
) ;

CREATE TABLE BATCH_STEP_EXECUTION_CONTEXT  (
	STEP_EXECUTION_ID BIGINT NOT NULL PRIMARY KEY,
	SHORT_CONTEXT VARCHAR(2500) NOT NULL,
	SERIALIZED_CONTEXT VARCHAR(MAX) NULL,
	constraint STEP_EXEC_CTX_FK foreign key (STEP_EXECUTION_ID)
	references BATCH_STEP_EXECUTION(STEP_EXECUTION_ID)
) ;

CREATE TABLE BATCH_JOB_EXECUTION_CONTEXT  (
	JOB_EXECUTION_ID BIGINT NOT NULL PRIMARY KEY,
	SHORT_CONTEXT VARCHAR(2500) NOT NULL,
	SERIALIZED_CONTEXT VARCHAR(MAX) NULL,
	constraint JOB_EXEC_CTX_FK foreign key (JOB_EXECUTION_ID)
	references BATCH_JOB_EXECUTION(JOB_EXECUTION_ID)
) ;

CREATE SEQUENCE BATCH_STEP_EXECUTION_SEQ START WITH 0 MINVALUE 0 MAXVALUE 9223372036854775807 NO CACHE NO CYCLE;
CREATE SEQUENCE BATCH_JOB_EXECUTION_SEQ START WITH 0 MINVALUE 0 MAXVALUE 9223372036854775807 NO CACHE NO CYCLE;
CREATE SEQUENCE BATCH_JOB_SEQ START WITH 0 MINVALUE 0 MAXVALUE 9223372036854775807 NO CACHE NO CYCLE;
